[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = " Equipping Doctors with Data Science Tools for Early Detection of Heart Disease."
[access "refs/*"]
	owner = group user/Sepehr Fard (sepehrfard)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sepehr Fard (sepehrfard)
	label-Verified = -1..+1 group user/Sepehr Fard (sepehrfard)
	push = group user/Sepehr Fard (sepehrfard)
	read = group user/Sepehr Fard (sepehrfard)
	rebase = group user/Sepehr Fard (sepehrfard)
	removeReviewer = group user/Sepehr Fard (sepehrfard)
	submit = group user/Sepehr Fard (sepehrfard)
[access "refs/heads/*"]
	create = group user/Sepehr Fard (sepehrfard)
	push = +force group user/Sepehr Fard (sepehrfard)
	pushMerge = group user/Sepehr Fard (sepehrfard)
	read = group user/Sepehr Fard (sepehrfard)
[access "refs/tags/*"]
	push = group user/Sepehr Fard (sepehrfard)
	push = +force group user/Sepehr Fard (sepehrfard)
